<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.app.tcare"
    android:versionCode="1450"
    android:versionName="1.45.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-feature android:name="android.hardware.usb.accessory" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:manageSpaceActivity="it.app.tcare_serial.Main_Activity"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="it.app.tcare_serial.Main_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" >
            </meta-data>
        </activity>
        <activity
            android:name="it.app.tcare_serial.Menu"
            android:label="@string/title_activity_menu"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="it.app.tcare_serial.Service"
            android:label="@string/title_activity_service"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>