<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.app.hypertherm"
    android:versionCode="1470"
    android:versionName="1.47.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:manageSpaceActivity="it.app.hypertherm.activity.MainActivity"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <service
            android:name=".Service_boot"
            android:enabled="true" />

        <activity
            android:name=".activity.Splash_Screen_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <receiver
            android:name=".autostart"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.WorkActivity"
            android:label="@string/title_activity_work"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.TessutoActivity"
            android:label="@string/title_activity_tessuto"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.PatologiaActivity"
            android:label="@string/title_activity_patologia"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.StrutturaProfonditaActivity"
            android:label="@string/title_activity_struttura_profondita"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="it.app.hypertherm.activity.OpenPdfActivity"
            android:label="@string/title_activity_open_pdf"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>